/* font type */

@font-face {
    font-family: 'pokemonSolid';
    src: URL('./assets/fonts/Pokemon\ Solid.ttf') format('truetype');
  }

  @font-face {
    font-family: 'pokemonHollow';
    src: URL('./assets/fonts/Pokemon\ Hollow.ttf') format('truetype');
  }

  /* remove scroll bars */

  ::-webkit-scrollbar {
    display: none;
}

  body {
    height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    background: orangered;

    box-sizing: border-box;
    overflow-x: hidden;

    margin: 0;
  }


  h1 {
    font-family: pokemonSolid;
    line-height: 50px;
    font-size: 2em;
    letter-spacing: 8px;
    text-align: center;
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
  }

  .pokemonContainer h1 {
    font-size: 2.5em;
  }

  a {
    text-decoration: none;
  }

  p, a, a:visited {
    font-family: pokemonSolid;
    font-weight: bold;
    text-align: center;
    color: yellow;
    width: 80%;
    font-size: 1.8em;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: blue;
    line-height: 1.6;
    margin: 25px auto;
  }

  img#pokemon_Main_Image {
    width: 140px;
    height: 140px;
}

.pokemonContainer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
}


select {
    border: none;
    background: orangered;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    width: 80%;
    margin: 50px auto 25px;
}

button {
    background: none;
    border: 1px solid white;
    font-weight: bold;
    font-size: 1.4em;
    color: white;
    margin-top: 25px;
    padding: 15px 0;
}

.site {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;

  -webkit-box-align: center;
          align-items: center;
}

footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  background: black;
  width: 100%;
}

footer p, footer a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}





@media only screen and (min-width: 600px) {
    form, p {
        width: 40%;
    }
  }